POSTGRES_PASSWORD=
DB_HOST=postgres
DB_USERNAME=
DB_PASSWORD=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566
ACTIVEMQ_HOST=activemq
ACTIVEMQ_USERNAME=
ACTIVEMQ_PASSWORD=
ACTIVEMQ_ADMIN_LOGIN=
ACTIVEMQ_ADMIN_PASSWORD=
EUREKA_HOST=eureka-server